<footer class="bg-dark main text-white">
    {{> susPanel}}
    <div class="footer-copyright text-center py-4 border-top border-secondary"> © {{date format="YYYY"}} {{@site.title}}. All right Reserved. Powered by Ghost</div>
</footer>
