<footer class="bg-dark main text-white mt-4">
    <div class="container">
        {{> footer-top}}
        <div class="footer-copyright text-center py-4 border-top border-secondary"> © {{date format="YYYY"}} {{@site.title}}. All right Reserved. Powered by Ghost</div>
    </div>
</footer>
