{{!--
This error template is used for all 404 errors, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
--}}

{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{navigation}}

<main id="site-main" class="site-main outer error-content mt-5 pt-5 container">
    <div class="inner ">
        <section class="error-message column justify-content-center text-center pt-3 mt-5 mb-5 pb-5">
            <h1 class="error-code font-weight-bolder display-1">{{statusCode}}</h1>
            <h2 class="error-description  mt-2 mb-5">{{message}}</h2>
            <a class="error-link btn btn-md btn-primary " href="{{@site.url}}">Volve al inicio →</a>
        </section>
    </div>
</main>

{{> "footer"}}