{{!< default}} <!--Usa la "plantilla" default.hbs-->
{{navigation}}
<main role="main " class="container">
  <header class="site-home-header ml-1 mr-1 mt-5 pt-5 mb-2  "> {{> "header" }} </header>
  <div class="container-xl">
    <article class="row mt-2 mb-3">
      {{> "post/post-loop"}}
    </article>
  </div>

{{pagination}}
</main>
{{> "footer"}}