{{!< default}} <!--Usa la "plantilla" default.hbs-->
{{navigation}}
<header class="site-home-header ml-1 mr-1 mt-4 pt-5"> {{> "header" }} </header>
<main role="main">
  <div class="container-xl">
    <article class="row mt-2 mb-3">
      {{> "post/post-loop"}}
    </article>
  </div>

{{pagination}}
</main>
{{> "footer"}}