{{!< default}}
<nav>{{navigation}}</nav>
{{#post}}

{{!-- {{> post/post-header}} --}}
<section class="container-xl">
    <header>
        <img src="{{feature_image }}" class="img-fluid" alt="Responsive image">
    </header>
    <article class="{{post_class}} container-sm mt-3">
        {{content}}
    </article>
  
    
</section>

{{/post}}
{{>footer}}