$border-radius: 10px;
$navbar-light-color: #161616;
$nav-current-item-color: #4eb052;
$navbar-light-color: #ffffff;
$navbar-light-hover-color: #4eb052;
@import "../../node_modules/bootstrap/scss/bootstrap";
// @import "../../node_modules/bootstrap/scss/functions";
//@import "../../node_modules/bootstrap/scss/variables";
//@import "../../node_modules/bootstrap/scss/mixins";

//@import "../../node_modules/bootstrap/scss/reboot";
//@import "../../node_modules/bootstrap/scss/buttons";
//@import "../../node_modules/bootstrap/scss/alert";
//@import "../../node_modules/bootstrap/scss/navbar";
img.d-block.w-100,
img.card-img {
  max-height: 400px;
}

.navbar-light .navbar-nav .nav-current .nav-link {
  color: $nav-current-item-color;
}

.entry-footer {
  border-top: 1px solid rgba(204, 204, 204, 0.3);
  padding: 16px 0px;
  font-size: 16px;
  color: #999999;
  display: flex;
  flex-wrap: wrap;

  & .author {
      flex: 1;
      & a {
          color: #999999;
          & .avatar {
            height: 32px;
            width: 32px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            margin-right: 8px;
          }
      }
  }
}
