$border-radius: 10px;
$primary: #4eb052;
$navbar-light-color: #161616;
$nav-current-item-color: #4eb052;
$navbar-light-color: #ffffff;
$navbar-light-hover-color: #4eb052;
// This variable affects the `.h-*` and `.w-*` classes.
$sizes: ();
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    10: 10%,
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

@import "../../node_modules/bootstrap/scss/bootstrap";
// @import "../../node_modules/bootstrap/scss/functions";
//@import "../../node_modules/bootstrap/scss/variables";
//@import "../../node_modules/bootstrap/scss/mixins";

//@import "../../node_modules/bootstrap/scss/reboot";
//@import "../../node_modules/bootstrap/scss/buttons";
//@import "../../node_modules/bootstrap/scss/alert";
//@import "../../node_modules/bootstrap/scss/navbar";
img.d-block.w-100,
img.card-img,
.img-post {
  max-height: 400px;
}

.author-img {
  height: 24px;
  width: 24px;
}

.navbar-light .navbar-nav .nav-current .nav-link {
  color: $nav-current-item-color;
}

//estilos para bloque de codigo
pre {
  overflow-x: auto;
  margin: 1.5em 0 1.5em;
  padding: 10px;
  max-width: 100%;
  border: 1px solid #000;
  color: #e5eff5;
  font-size: 1rem;
  line-height: 1.5em;
  background: #0e0f11;
  border-radius: 5px;

  & code {
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    background: transparent;
    font-family: monospace, monospace;
    font-weight: 400 !important;
    border-radius: 3px;
  }
}
