<header class="site-archive-header ml-1 mr-1 mt-4 pt-5">
    <div class="card bg-dark text-white">
        {{#if feature_image}}
        <img src="{{feature_image}}" class="card-img" alt="imagen de fondo">
        {{else}}
        <img src="{{asset "assets/images/tag-bg.jpeg"}}" class="card-img" alt="imagen de fondo">
        {{/if}}
        <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
            <div class="inner site-header-content align-middle">
                <h1 class="site-title card-title ">Etiqueta:{{name}}</h1>
            </div>
        </div>
    </div>
</header>